<ion-app>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-button slot="end" fill="none">
      <ion-icon slot="icon-only" name="call-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none">
      <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none">
      <ion-icon slot="icon-only" name="logo-github"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none">
      <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
