// about me chip styles
.chipStyle {
  border-radius: 1lh;
  background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 8px;
  ion-icon {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1.3rem;
  }
}

// Card styles

.project-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-description {
  margin-bottom: 16px;
  line-height: 1.5;

  &.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.card-tweaks {
  border: 1px solid var(--ion-color-tertiary);
  border-radius: 16px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--ion-color-tertiary);
  }
}

// Duck
// .duck {
//   position: absolute;
//   //   top: 60%;
//   left: -96px; /* slightly more than one frame width */
//   width: 96px; /* width of one frame */
//   height: 96px;
//   background-image: url("/duck2.png");
//   background-repeat: no-repeat;
//   background-size: 288px 96px; /* total width of sprite strip (96px * 3 frames) */
//   animation:
//     walkCycle 0.6s steps(3) infinite,
//     moveRight 6s linear infinite;
// }

// @keyframes walkCycle {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -288px 0;
//   } /* 96px * 3 */
// }

// @keyframes moveRight {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(110vw);
//   }
// }
